.dashboard {
  padding: 30px;
  font-size: 1.4em;
}

.dashboard-panel {
  padding: 10px;
  margin: auto;
}

.logo-row {
  margin-bottom: 30px;
  font-size: 2.5em;
}

.dash-row {
  margin-bottom: 30px;
}

.faces {
  text-align: center;
  padding: 20px;
}

.altbox {
  background-color: #FCFCFC;
  padding: 40px;
}

.plainbox {
  background-color: #FFF;
  padding: 40px;
}

.resources {
  background-color: #FCFCFC;
  height: 80px;
}

.orange {
  color: orange;
}
