/* add css styles here (optional) */
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

:root {
  --color-primary: #0062ff;
  --color-green: #4caf50;
  --color-secondary: #87868f;
  --color-solid: #fff;
  --color-surface: #44444f;
  --color-white: #fff;
  --color-dark: #44444f;
}

body {
  font-family: "poppins" !important;
  color: var(--color-surface);
  background-color: var(--color-solid);
}

h1 {
  margin-top: 25px;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  font-family: "poppins" !important;
  /* show a hand cursor on hover; some argue that we
  should keep the default arrow cursor for buttons */
  cursor: pointer;
}

/* .banner {
  display: inline-block;
  margin: 2em auto;
  border: 2px solid #000;
  font-size: 2em;
} */

.container {
  padding: 0px;
}

.flexParent {
  display: flex;
}

.flexGrower {
  flex-grow: 1;
}
