/* add css styles here (optional) */
/* @import url("https://fonts.googleapis.com/css?family=Poppins&display=swap"); */

:root {
  --color-primary: #008cba;
  --color-secondary: #4caf50;
  --color-solid: #fff;
  --color-surface: #000;
}

body {
  font-family: sans-serif !important;
  padding: 40px;
  color: var(--color-surface);
  background-color: var(--color-solid);
}

div {
  margin: 10px;
}

.banner {
  display: inline-block;
  margin: 2em auto;
  border: 2px solid #000;
  font-size: 2em;
}

.buttonBasic {
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 600;
}

.buttonPrimary {
  background-color: var(--color-primary);
  border-width: 3px;
  border-color: var(--color-primary);
}

.buttonSecondary {
  background-color: var(--color-secondary);
  border-width: 3px;
  border-color: var(--color-secondary);
}

.buttonOutline {
  color: var(--color-primary);
  padding: 10px 28px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  background-color: #fff;
  font-weight: 600;
}
